@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
.breadcrumb {
  display: block;
}
@media (min-width: 992px) {
  .breadcrumb {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.breadcrumb .container {
  display: none;
  width: 100%;
  background-color: #AEAEAE;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb .container h2 {
  margin-top: 40px;
  text-align: center;
  color: #292929;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 3px;
}
@media (min-width: 992px) {
  .breadcrumb .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.breadcrumb ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
.breadcrumb ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}
.breadcrumb ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ". ";
}
.breadcrumb ul.breadcrumb li a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}
.breadcrumb ul.breadcrumb li a:hover {
  color: #FA3150;
  text-decoration: underline;
  font-size: 14px;
}

.no-gutters {
  --bs-gutter-x: 0 !important;
}

html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #636363;
}

a {
  text-decoration: none;
  color: #FA3150;
}
a:hover {
  text-decoration: underline;
  color: #FA3150;
}

button {
  font-family: "Poppins", sans-serif;
  border: 1px solid #636363;
  background-color: transparent;
  color: #000000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 10px 30px;
}
button:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-white {
  font-weight: 400;
}

.btn-arrow-white {
  border: 1px solid #292929;
  font-weight: 400;
  border-radius: 5px;
}
.btn-arrow-white:hover {
  background-color: #000000;
  color: #ffffff;
}

footer div {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 66px;
  color: #AEAEAE;
}

header {
  padding: 15px 0;
}
@media (min-width: 992px) {
  header {
    padding: 30px 0;
  }
}
header .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "logo btn " "menu menu";
}
@media (min-width: 992px) {
  header .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo menu ";
  }
}
header .logo {
  grid-area: logo;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
header #menu {
  grid-area: menu;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 992px) {
  header #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
header #menu .menu-links {
  color: #292929;
  padding-top: 30px;
}
@media (min-width: 992px) {
  header #menu .menu-links {
    padding-top: 0px;
  }
}
header #menu .menu-links .link {
  color: #292929;
  display: block;
  margin: 10px 20px;
  padding: 10px;
}
@media (min-width: 992px) {
  header #menu .menu-links .link {
    display: inline-block;
    margin: 0 20px;
    padding: 0px;
  }
}
header #menu .menu-links .link:hover {
  color: #FA3150;
}
header #menu .menu-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
}
@media (min-width: 992px) {
  header #menu .menu-icons {
    position: static;
    padding: 0px;
  }
}
header #menu .menu-icons .link {
  color: #AEAEAE;
  margin-left: 15px;
}
header #menu .menu-icons .link:hover {
  color: #292929;
}
header .btn-toggle {
  grid-area: btn;
  display: grid;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  padding: 5px;
}
@media (min-width: 992px) {
  header .btn-toggle {
    display: none;
  }
}

.showcase {
  background-color: #F3F2F2;
  padding: 60px 0;
}
@media (min-width: 992px) {
  .showcase {
    padding: 0 0 60px 0;
  }
}
.showcase .container {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .showcase .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.showcase .content {
  font-family: "Poppins", sans-serif;
  color: #292929;
}
@media (min-width: 992px) {
  .showcase .content {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    text-align: left;
    padding-right: 20px;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .showcase .content {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding-top: 0;
  }
}
.showcase .content .ingress {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.showcase .content .title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .showcase .content .title {
    font-size: 60px;
    line-height: 1.5;
  }
}
.showcase .content .btn-theme {
  background-color: #FA3150;
  border: none;
  color: #ffffff;
  letter-spacing: 5px;
  text-align: center;
}
.showcase .content .btn-theme:hover {
  background-color: #292929;
}
.showcase .content-image {
  /*    border: 1px solid black; */
  display: none;
}
@media (min-width: 992px) {
  .showcase .content-image {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media (min-width: 1200px) {
  .showcase .content-image {
    display: block;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}
.showcase img {
  width: 100%;
  height: auto;
}

._collection {
  background-color: #ffffff;
}
._collection .container {
  display: block;
}
@media (min-width: 992px) {
  ._collection .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
._collection ._header {
  width: 100%;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #292929;
}
@media (min-width: 992px) {
  ._collection ._header {
    font-size: 48px;
  }
}
._collection ._breadcrumbs {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
._collection ._cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 992px) {
  ._collection ._cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
._collection .card {
  border: none;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0 0 20px;
}
@media (min-width: 992px) {
  ._collection .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
._collection .card:hover .shopping-cart-icon {
  display: inline;
}
._collection .card .card-image {
  display: inline-block;
  padding: 5px;
}
@media (min-width: 768px) {
  ._collection .card .card-image {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  ._collection .card .card-image {
    padding: 0;
  }
}
._collection .card .card-image img {
  width: 100%;
  height: auto;
}
._collection .card .shopping-cart-icon {
  display: none;
  position: absolute;
  font-size: 24px;
  bottom: 15px;
  right: 15px;
}
@media (min-width: 768px) {
  ._collection .card .shopping-cart-icon {
    display: none;
  }
}
._collection .card .card-title {
  margin: -10px 0 0 -10px !important;
  font-size: 18px;
  color: #000000;
}
._collection .card .card-price {
  margin: 5px 0 0 -10px !important;
  font-size: 14px;
  color: #292929;
}
@media (max-width: 767px) {
  ._collection .card:hover .shopping-cart-icon {
    display: none;
  }
}

._discount {
  background-color: #FAEFEF;
}
._discount .container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 992px) {
  ._discount .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
._discount ._cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 992px) {
  ._discount ._cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
._discount .card {
  display: none;
  border: none;
  font-family: "Poppins", sans-serif;
  margin: 0 0 20px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  ._discount .card {
    display: grid;
  }
}
._discount .card h5 {
  font-size: 18px;
}
._discount .card h4 {
  margin-top: 30px;
  font-size: 14px;
}
._discount .card-image {
  display: inline-block;
  padding: 5px;
}
@media (min-width: 768px) {
  ._discount .card-image {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  ._discount .card-image {
    padding: 0;
  }
}
._discount .card-image img {
  width: 100%;
  height: auto;
}
._discount .discount-card {
  display: block;
  grid-column: 1/-1;
  margin: 0 !important;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  ._discount .discount-card {
    grid-column: 2/2;
    padding: 0;
    margin-bottom: 20px !important;
  }
}
._discount .discount-card h5 {
  margin-top: 80px;
  text-align: center;
  color: #FA3150;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px !important;
}
._discount .discount-card h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px !important;
}
._discount .discount-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin: 0 !important;
}
._discount .discount-card .bText {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 40px 0 40px;
  margin-bottom: 50px;
  font-size: 14px;
}
._discount .discount-card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 12px;
}

._topSelling {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
._topSelling ._header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  font-size: 30px;
  font-weight: 600;
}
._topSelling .content {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  gap: 20px;
}
@media (min-width: 992px) {
  ._topSelling .content {
    max-width: 1390px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: column;
  }
}
._topSelling .card {
  border: none;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0 0 20px;
}
@media (min-width: 992px) {
  ._topSelling .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
._topSelling .card:hover .shopping-cart-icon {
  display: inline;
}
._topSelling .card-image {
  display: inline-block;
  padding: 5px;
}
@media (min-width: 768px) {
  ._topSelling .card-image {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  ._topSelling .card-image {
    padding: 0;
  }
}
._topSelling .card-image img {
  width: 100%;
  height: auto;
}
._topSelling .shopping-cart-icon {
  display: none;
  position: absolute;
  font-size: 24px;
  bottom: 15px;
  right: 15px;
}
@media (min-width: 768px) {
  ._topSelling .shopping-cart-icon {
    display: none;
  }
}
._topSelling .card-title {
  margin: -10px 0 0 -10px !important;
  font-size: 15px;
  color: #000000;
}
._topSelling .card-body p {
  display: none;
}
@media (min-width: 992px) {
  ._topSelling .card-body p {
    display: block;
  }
}
._topSelling .card-price {
  margin: 5px 0 0 -10px !important;
  font-size: 14px;
  color: #292929;
}
@media (max-width: 767px) {
  ._topSelling:hover .shopping-cart-icon {
    display: none;
  }
}
._topSelling ._bDiscount {
  margin-top: 60px;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
}

.subscribe {
  display: block;
}
.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  position: relative;
}
@media (min-width: 992px) {
  .subscribe .container {
    padding-left: -5000px;
  }
}
.subscribe .mail-text {
  position: absolute;
  left: 15px;
  width: 80%;
  border-radius: 40px;
  border: 1px solid #AEAEAE;
  padding: 5px;
  text-indent: 10px;
}
.subscribe .mail-text:focus {
  outline: none;
}
@media (min-width: 992px) {
  .subscribe .mail-text {
    font-size: 1rem;
    width: 70%;
    left: 130px;
    padding: 10px;
  }
}
.subscribe .s_button {
  position: absolute;
  right: 15px;
  background-color: #FA3150;
  color: #ffffff;
  border-left: none;
  border-top: 1px solid #AEAEAE;
  border-right: 1px solid #AEAEAE;
  border-bottom: 1px solid #AEAEAE;
  font-size: 0.6rem;
  border-radius: 40px;
}
.subscribe .s_button:hover {
  background-color: #292929;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  .subscribe .s_button {
    right: 130px;
    font-size: 1rem;
  }
}

.no-gutters {
  --bs-gutter-x: 0 !important;
}

.product-detail-section {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-detail-section .container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 992px) {
  .product-detail-section .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.product-detail-section .grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.product-detail-section .product-detail-description {
  margin-top: 25px;
}
.product-detail-section .product-detail-description h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #292929;
}
.product-detail-section .product-detail-description h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #292929;
  font-weight: 600;
}
.product-detail-section .product-detail-description p {
  max-width: 500px;
}
.product-detail-section .product-detail-description .text-theme {
  color: #F9c936;
}
.product-detail-section .product-detail-description .text-theme span {
  color: #636363;
}
.product-detail-section .product-detail-description .item-3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.84rem;
  font-family: "Poppins", sans-serif;
}
.product-detail-section .product-detail-description .item-3 .quantity-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-detail-section .product-detail-description .item-3 .quantity-group .qbtn {
  border: 1px solid #AEAEAE;
  color: #292929;
}
.product-detail-section .product-detail-description .item-3 .quantity-group .qbtn:hover {
  color: #ffffff;
}
.product-detail-section .product-detail-description .item-3 .q-text {
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: none;
  border-top: 1px solid #AEAEAE;
  border-bottom: 1px solid #AEAEAE;
  background-color: #ffffff;
  color: #292929;
}
.product-detail-section .product-detail-description .item-3 .cart-red-buttons {
  color: #ffffff;
  border: 1px solid #FA3150;
}
.product-detail-section .product-detail-description .item-3 .cart-red-buttons:hover {
  border: 1px solid #292929;
}
.product-detail-section .product-detail-description .item-3 .cart-red-buttons .post-button {
  background-color: #FA3150;
  color: #ffffff;
  border: none;
}
.product-detail-section .product-detail-description .item-3 .cart-red-buttons .post-button:hover {
  background-color: #292929;
}
.product-detail-section .product-detail-description .item-4 .color {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 5px;
  list-style-type: none;
}
.product-detail-section .product-detail-description .item-4 .color div:nth-of-type(1) {
  color: #FA3150;
}
.product-detail-section .product-detail-description .item-4 .color div:nth-child(2) {
  color: #F9c936;
}
.product-detail-section .product-detail-description .item-4 .color div:nth-child(3) {
  color: #92BBB9;
}
.product-detail-section .product-detail-description .item-4 .color .sku {
  margin-left: 20px;
  letter-spacing: 0;
}
.product-detail-section .product-detail-description .item-4 .cart-wishlist {
  margin-top: 30px;
}
.product-detail-section .product-detail-description .item-4 .cart-wishlist .wish-button {
  border: 1px solid #AEAEAE;
}
.product-detail-section .product-detail-description .item-4 .category {
  margin-top: 20px;
}
.product-detail-section .prod-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 15px;
}
.product-detail-section .prod-images .item-1 {
  grid-row: 1/1;
  grid-column: 1/-1;
}
.product-detail-section .prod-images .item-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-detail-section .prod-images .item-2, .product-detail-section .prod-images .item-3, .product-detail-section .prod-images .item-4, .product-detail-section .prod-images .item-5 {
  grid-row: 2/2;
}
.product-detail-section .prod-images .item-2 img, .product-detail-section .prod-images .item-3 img, .product-detail-section .prod-images .item-4 img, .product-detail-section .prod-images .item-5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-detail-section .share {
  display: block;
}
.product-detail-section .share .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Product Details Info Section */
.productDetail-Info {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 992px) {
  .productDetail-Info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.productDetail-Info .container {
  display: block;
}
.productDetail-Info .container .tab-content h5 {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .productDetail-Info .container {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.productDetail-Info nav {
  margin-top: 20px;
}
.productDetail-Info nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 992px) {
  .productDetail-Info nav .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.productDetail-Info nav .nav-link {
  border-top: 1px solid #AEAEAE;
  border-bottom: 1px solid #AEAEAE;
  border-left: 1px solid #AEAEAE;
  text-align: center;
  color: black;
}
@media (min-width: 992px) {
  .productDetail-Info nav .nav-link {
    border-radius: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.productDetail-Info nav .nav-link:active, .productDetail-Info nav .nav-link:focus, .productDetail-Info nav .nav-link.active-tab, .productDetail-Info nav .nav-link.active {
  background-color: red;
  color: #ffffff;
}
.productDetail-Info nav .nav-link:hover {
  background-color: #000000;
  color: #AEAEAE;
}
.productDetail-Info nav button:nth-child(2), .productDetail-Info nav button:nth-child(4) {
  display: none;
}
@media (min-width: 992px) {
  .productDetail-Info nav button:nth-child(2), .productDetail-Info nav button:nth-child(4) {
    display: block;
  }
  .productDetail-Info nav button:nth-child(3) {
    border-right: none;
  }
}
.productDetail-Info nav button:nth-child(3) {
  border-right: 1px solid #AEAEAE;
}
.productDetail-Info nav button:nth-child(4) {
  border-right: 1px solid #AEAEAE;
}
.productDetail-Info .product-content-info {
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 992px) {
  .productDetail-Info .product-content-info {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.productDetail-Info .product-content-info .product-info-image {
  padding: 20px;
}
.productDetail-Info .product-content-info .product-info-image img {
  display: none;
}
@media (min-width: 992px) {
  .productDetail-Info .product-content-info .product-info-image img {
    display: block;
  }
}

/* end Product Details Info Section */
/* Related Products Section */
._relatedProducts {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 992px) {
  ._relatedProducts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
._relatedProducts .container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 992px) {
  ._relatedProducts .container {
    display: block;
  }
}
._relatedProducts .header {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: 1px solid #AEAEAE;
}
._relatedProducts .header h5 {
  margin-top: 30px;
  text-align: left;
}
._relatedProducts ._cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
._relatedProducts .card {
  border: none;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0 0 20px;
}
@media (min-width: 992px) {
  ._relatedProducts .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
._relatedProducts .card:hover .shopping-cart-icon {
  display: inline;
}
._relatedProducts .card-image {
  display: inline-block;
  padding: 5px;
}
@media (min-width: 768px) {
  ._relatedProducts .card-image {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  ._relatedProducts .card-image {
    padding: 0;
  }
}
._relatedProducts .card-image img {
  width: 100%;
  height: auto;
}
._relatedProducts .shopping-cart-icon {
  display: none;
  position: absolute;
  font-size: 24px;
  bottom: 15px;
  right: 15px;
}
@media (min-width: 768px) {
  ._relatedProducts .shopping-cart-icon {
    display: none;
  }
}
._relatedProducts .card-title {
  margin: -10px 0 0 -10px !important;
  font-size: 15px;
  color: #000000;
}
._relatedProducts .card-body p {
  display: none;
}
@media (min-width: 992px) {
  ._relatedProducts .card-body p {
    display: block;
  }
}
._relatedProducts .card-price {
  margin: 5px 0 0 -10px !important;
  font-size: 14px;
  color: #292929;
}
@media (max-width: 767px) {
  ._relatedProducts:hover .shopping-cart-icon {
    display: none;
  }
}

/* End Related Products Section */
.small_cards {
  display: block;
}
@media (min-width: 992px) {
  .small_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.small_cards .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FAFAFA;
}
@media (min-width: 992px) {
  .small_cards .container {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 285px;
  }
}
.small_cards .container .card {
  border: none;
  margin: 0;
  padding: 20px;
  background-color: #FAFAFA;
}
.small_cards .container .card img {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 0;
}/*# sourceMappingURL=style.css.map */