.showcase {
    background-color: $color-theme-3;
    padding: 60px 0;

    @include lg {
        padding: 0 0 60px 0;
    }
    .container {
        display: block;
        text-align: center;

        @include lg {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }

    .content {
       
        font-family: $font-poppins;
        color: $color-dark-2;
       

        @include lg {
            flex: 3;
           text-align: left;
           padding-right: 20px;
           padding-top: 20px;
          
        }
        @include xl {
            flex: 2;
           
            padding-top: 0
        }
        .ingress {
            font-size: 18px;
            font-weight: $font-weight-regular;
           
            letter-spacing: 5px;
            margin-bottom: 20px;
            
        }
        .title {
            font-size: 40px;
            font-weight: bold;
            line-height: 1.2;
            margin-bottom: 20px;
           

            @include lg {
                font-size: 60px;
                line-height: 1.5;
            }
        }
        .btn-theme {
            background-color: $color-theme-1;
            border: none;
            color: $color-white;
            letter-spacing: 5px;
            text-align: center;
        &:hover {
            background-color: $color-dark-2;
        }
           
         } 
        
    }
    .content-image {
     /*    border: 1px solid black; */
        display: none;
       
       

        @include lg {
            display: block;
           
            flex: 1;
        }
        
        @include xl {
            display: block;
           
            flex: 2;
        }
    }
    img {
       width: 100%;
       height: auto;
    }
}