._topSelling {
    display: block;
    justify-content: center;
    
    ._header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        font-size: 30px;
        font-weight: $font-weight-semibold;
    }
    .content {
       
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        border: none;
      
        gap: 20px;

        @include lg {
            max-width: 1390px;
            grid-template-columns: repeat(6, 1fr);
            grid-auto-flow: column;
        }
    }
    .card {
        border: none;
        font-family: $font-poppins;
        position: relative;
        margin: 0 0 20px;
      
        @include lg {
            display: flex;
          }
        
          &:hover {
            .shopping-cart-icon {
              display: inline;
    
           
            }
           
          }
    }
    .card-image {
        display: inline-block;
        padding: 5px;
        @include md {
          padding: 5px;
        }
        @include lg {
          padding: 0;
        }
   
    
        img {
          width: 100%;
          height: auto;
        }
      }
      .shopping-cart-icon {
        display: none;
        position: absolute;
        font-size: 24px;
        bottom: 15px;
        right: 15px;

        @include md {
          display: none;
        }

      }
    
      .card-title {
        margin: -10px 0 -0 -10px !important;
        font-size: 15px;
        color: $color-dark-1;
      }
      .card-body {
        p {
          display: none;
        }
        @include lg {
          p {
            display: block;
          }
        }
      }
    
      .card-price {
        margin: 5px 0 0 -10px !important;
        font-size: 14px;
        color: $color-dark-2;
      }
      @include mobile {
        &:hover .shopping-cart-icon {
          display: none;
        }
      }
      ._bDiscount {
        margin-top: 60px;
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        justify-content: center;
        border: 1px solid black;
    }
    }

